{{!-- FRONT Questionnaire--}}
<div class="container mt-5" id="groupContainer">
  <a href='' id="createGroup"><h2>Create a group<i class="fa-solid fa-plus ml-2"></i></h2></a> 
</div>

<div class="container mt-5">
  <h2 class="mb-4">My Groups</h2>
  
  <div class="row">
    {{> groupCard }}
  </div>
</div>

{{log this}}
<script src="/js/createGroup.js"></script>
