<input type="hidden" class="userId" id="userId" value="{{user_id}}"> 
<div class="container mt-4">
    <h1>Events Feed</h1>
    {{#if eventsFeed}}
        <div class="d-flex flex-wrap">
            {{#each eventsFeed}}
                {{#if this.events.length}}
                    {{#each this.events as |event|}}
                        {{> eventCard event}}
                    {{/each}}
                {{else}}
                    <p>No events in group {{this.group_id}}.</p>
                {{/if}}
            {{/each}}
        </div>
    {{else}}
        <p>No events to show.</p>
    {{/if}}
</div>

<script src="/js/eventFeed.js"></script>
