<input type="hidden" class="userId" id="userId" value="{{user_id}}"> 
<div class="container mt-4 d-flex flex-column" id="eventFeed">
<h1>Events Feed</h1>
    {{#if eventsFeed}}
            {{#each eventsFeed as |group|}}
            <h2 class="w-100">Group {{group.group_id}}</h2>
            <div class="events-container d-flex">
                {{#if group.events.length}}
                    {{#each group.events as |event|}}
                        {{> eventCard event}}
                    {{/each}}
                {{else}}
                    <p>No events available in this group.</p>
                {{/if}}
            </div>
            {{/each}}
    {{else}}
        <p>No events to show.</p>
    {{/if}}
</div>

<script src="/js/acceptEvent.js"></script>
