<div class="container mt-4">
    <h1>Events Feed</h1>
    <div class="d-flex flex-wrap">
<!-- In views/eventFeed.handlebars -->
{{#each eventsFeed}}
    <h2>Group {{this.group_id}}</h2>
    {{> eventCard this.events}}
    <br/>
{{!-- {{else}}
    <p>No events to show.</p> --}}
{{/each}}
    </div>
</div>

<script src="/js/eventFeed.js"></script>
