<div class="container mt-4">
    <h1>My Events</h1>
    <h5>{{userdetails.first}} {{userdetails.last_name}} Events</h5>
    <div class="d-flex flex-wrap">
{{#each events}}
    {{> eventCard this}}
{{/each}}
    </div>