<div class="container mt-4">
    <h1>{{userdetails.first_name}} {{userdetails.last_name}}'s Events</h1>
    <h2>Created Events</h2>
    <div class="d-flex flex-wrap">
        {{#each created_events}}
            {{> eventCard this}}
        {{/each}}
    </div>

    <h2>Accepted Events</h2>
    <div class="d-flex flex-wrap">
        {{#each accepted_events}}
            {{> eventCard this}}
        {{/each}}
    </div>
</div>
