{{!-- FRONT Questionnaire--}}
<div class="container mt-5">
  <a href=""><h2>Create a group<i class="fa-solid fa-plus ml-2"></i></h2></a> 
</div>

<div class="container mt-5">
  <h2 class="mb-4">My Groups</h2>
  
  <div class="row">
    <div class="col-md-4">
      <a href="#" style="text-decoration: none;">
        <div class="card" style="background-color: #FFBE74;">
          <div class="card-body">
            <h5 class="card-title">Group 1</h5>
            <p class="card-text">Some description about Member 1.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-4">
      <a href="#" style="text-decoration: none;">
        <div class="card" style="background-color: #FFBE74;">
          <div class="card-body">
            <h5 class="card-title">Group 1</h5>
            <p class="card-text">Some description about Member 1.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-4">
      <a href="#" style="text-decoration: none;">
        <div class="card" style="background-color: #FFBE74;">
          <div class="card-body">
            <h5 class="card-title">Group 1</h5>
            <p class="card-text">Some description about Member 1.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
